.footerContainer{
    margin-left:5%;
     margin-right:5%;
     margin-top: 1vh;
     display: flex;
     justify-content: space-evenly;
}
.footerItem{
    display: flex;
    flex-direction: column;
}

.footerItem p{
    margin: 0;
}

.footerItem p:hover{
   color: blue;
    cursor: pointer;
}